 
 /* arabic */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: local('Changa'), local('Changa-Regular'), url(https://fonts.gstatic.com/s/changa/v4/2-cm9JNi2YuVOUckY5y-au8.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: local('Changa'), local('Changa-Regular'), url(https://fonts.gstatic.com/s/changa/v4/2-cm9JNi2YuVOUckaJy-au8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-weight: 400;
  src: local('Changa'), local('Changa-Regular'), url(https://fonts.gstatic.com/s/changa/v4/2-cm9JNi2YuVOUckZpy-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: #ffffff;
    font-size: 16px;
   
   font-family:Changa
  
  
}

.mainlogoH{
      display: block;
    overflow: hidden;

}
.logoM{
     text-align: right;
    margin-bottom: 20px;
    width:50px;
    height: 100px;
    float: left;
    width: 115px; 
}
.logoMR{
    padding: 20px;
    margin-top: : 20px;
    width:50px;
    height: 100px;
    float: right;
    width: 268px;
}
.logoMR img{
    display:inline-block;
}
.logoM img{
  width:100%;
  height:100%;


}
.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}

.header div{

  margin-top:320px;
        margin-right:500px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header div span{
  color:#5379fa !important;
        color: rgb(23, 58, 179) !important;
        font-weight: bold;
}

.login{
     width: 300px;
    margin: 100px auto; 
}

.login input {
    margin-bottom: 15px;
}
.login .title
{
  text-align: center;
}
 
 

/***********************  End log in form*************************************/
 

 
.pop_up_alert{
 z-index:0
}
.pop_up_alert .upper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(48, 48, 48, 0.74);
  z-index:1000;
  display:none;
}
 .pop_up_alert .upper .content
 {
    width: 50%;
    margin: 10% auto;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    position:relative;
      z-index:500;
 }
 .pop_up_alert .upper .content h3{
  text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #07a5e7;
    margin: 0;
 }
 .pop_up_alert .upper .content p
 {
  padding: 20px 65px 10px 65px;
  color: dimgray;
 }

.pop_up_alert .upper .content span
 {
    position: absolute;
    top: -15px;
    left: -20px;
    padding: 6px;
    font-size: 22px;
    background-color: #07a5e7;
    border-radius: 78px;
    color: #fff;
    border: 1px solid #fff;
    cursor:pointer;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
 }
.pop_up_alert .upper .content span:hover{
   color: #ff4a4a;
   transform:rotate(180deg);
}
.pop_up_alert .upper .content button{
  padding: 7px 27px;
  margin: 10px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
   border:0;
}
.pop_up_alert .upper .content button:hover{
      background-color: #e35757;
      border:0;
      color:#000
}
._alert{
margin:20px auto;
text-align:center;
} 
.d_err{
  display:none;
}
ul{
 padding:0;
 margin: 0; 

}

li{
list-style-type:none;
 direction:rtl;
}
a{
  text-align: right;
}
/*for tabel arabic*/
.table th{
text-align:right;
}

 /*  Start  of  page Dashboard*/
.home-stats .stat{
border-radius: 10px;
color:#fff;
padding: 20;
font-size: 15px;
 
}

.home-stats .stat a{
color:#fff;
}

.home-stats .stat a:hover{
text-decoration: none;
}

.home-stats .stat span{
display:block;
font-size: 60px;
}

.home-stats .st-Members{
background-color:#3498bd; 
}

.home-stats .st-pending{
  background-color: rgba(85, 85, 85, 0.95);
}

.home-stats .st-items{
background-color:#d35400; 
}

.home-stats .st-anthor{
background-color:#8e44ad; 
}


.latest{

margin-top: 40px;

}



/*Start DAshboard page*/
 
.dashboard-stats .stat
{
  border:1px solid #888;
  background-size:#88c;
  padding: 30px 25px 30px;
  font-size:18px;
  border-radius: 10px;
  color:#fff;
  -webkit-box-shadow-:0px 9px 15px #888;
  -moz-box-shadow:0px 9px 15px #888;
  box-shadow:0px 9px 15px #888;
  margin-bottom:20px;
 overflow: hidden;
 position:relative;
 }
 .dashboard-stats .stat i
 {
  position:absolute;
  left:10px;
  font-size:80px;
 }
 

.dashboard-stats .stat a
{
  text-decoration:none;
  color:#fff;
}
.dashboard-stats .stat span
{
  display:block;
  font-size:42px;
}

.dashboard-stats .members
{
   background-color:#0089c6;
}
.dashboard-stats .pending
{
   background-color:#c0392b;
}
.dashboard-stats .items
{
   background-color:#d35400;
}
.dashboard-stats .comments
{
   background-color:#62008b;
}
.latest
{
  margin-top:20px;
}
.latest .action-lasted
{
  cursor:pointer;
}
.uselul li
{
   padding:15px;
  margin-top:10px;
  overflow: hidden;
}
.uselul li span
{
 padding:9px;
 margin-top:-8px;

}
.uselul .btn-info,
.uselul a
{
  margin-right: 10px;
}
.latest .comment_box
{
  margin:5px 0 10px;
 
}
.latest .comment_box .member-n,
.latest .comment_box .member-c
{
 float:left;

}
.latest .comment_box .member-n
{
  margin-right: 20px;
  width:80px;
  margin-top: 12px;
}
.latest .comment_box .member-c
{
 width:calc(100% - 100px);
 word-wrap:break-word;
 padding:15px;
 background-color:rgba(29, 30, 30, 0.08);
 position:relative;
}
.latest .comment_box .member-c:before
{
  content:"";
  position:absolute;
  top: 9px;
  left: -30px;
  border-width:15px;
  border-style:solid;
  border-color:transparent rgba(29, 30, 30, 0.08) transparent transparent;
}






/*****************************************************************  Stert of Navbar****************************************************/

.navbar{

    background-color:  #89B01B;
    color: #fff;
}


.navbar .nav  li a{
    color: #fff;
}
 

.navbar .nav  li:hover a{
    color:#333; 
}
 

/*  Start  of  page Member*/

.h1
{

font-size: 55px;
margin:40px 0;
font-weight: bold;
color:#666;
}

.show-pass{

position:absolute; 
top:6px;
right: -30px;

}
.menu-bar{
    background-color: #080808;
    padding: 10px;
    margin: 1px;
    border-radius: 7px;
}
.menu-bar a
{
color:#fff;
}
.list-bar{
      margin: 41px auto;
    text-align: center;
}
.selectted_m{
  background-color: rgba(8, 8, 8, 0.39);
padding: 10px;
margin: 1px;
border-radius: 7px;
}
.add_N{
      margin: 29px auto;
    width: 203px;

}


.main-table  tr:first-child td{

background-color: #333;
color:#fff;
    border: 1px solid #413333;

}

 .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #413333;
}


 
.navbar-collapse .dropdown {
    position: relative;
    display: inline-block;
     padding-top: 15px;
    
}
.navbar-collapse .dropdown .dropbtn{
   text-decoration: none;
 
}
.navbar-collapse .dropdown .dropbtn:hover{
 color:#282828
}
.navbar-collapse .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-collapse .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-collapse .dropdown-content a:hover {background-color:rgba(0, 0, 0, 0.1)}

.navbar-collapse .dropdown:hover .dropdown-content {
    display: block;
}

 
.navbar-collapse .login_,
.navbar-collapse .signup

{
      padding-top: 15px;
    padding-bottom: 15px;
    margin:0 10px;
}

/*  End  of  page Member*/

 
 .error
 {
 
    text-align: center;
    width: 89%;
    margin: 4% 4%;
 }
 .done
 {
    font-size: 100%;
    width: 90%;
    text-align: center;
    margin: 10px auto;
 }

 
/*suppliers page  */
.suppliers,
.suppliers_s
{
  margin-top:100px;
}
.suppliers_s .table,.suppliers .table{
  border:1px solid #acacac;
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 2px 17px 52px rgba(136, 136, 136, 0.43);
}
.suppliers_s .table tbody .control a, .suppliers .table tbody .control a{
   border:1px solid #ddd;
   padding:5px;
   margin:0px 5px;
}
.suppliers_s  .table tbody tr:hover , .suppliers .table tbody tr:hover{
  background-color:#ddd;
}
.suppliers_s .table thead tr , .suppliers .table thead tr{
  border-bottom:4px solid rgba(154, 154, 154, 0.19); 
}
.supp_edit_form{
  border:1px solid #ccc;
  padding:10px;
  margin:56px auto;
  overflow:hidden;
}
.subcat_m  .input_name_pr_add{
  margin:21px;
}

 
 .slider
 {
     
 }
 .slider .item{
  border-radius:10px;
    overflow:hidden;
 }
 .slider .item img,
 .slider_ .item img{
      width: 100%;
    height: 500px;

 }

 
.wrongmsg{
      color: #e51c23;
}
.rio-promos {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
}
button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
      background-position-x: right;
}
.slick-prev:before, .slick-next:before {
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}


/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
    src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.rio-promos{
  border:none;
}
.rio-promos .item{

 border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px;
    height:263px;
    overflow:hidden;
   
}
.rio-promos div p{
  text-align:center;
}

.rio-promos img {
  width:100%;
  height: 220px;
}
.mainsignup{
direction:rtl;
}

.mainsignup form{
     margin: 20px auto;
    width: 70%;
      background: #F9F9F9;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px;
    overflow:hidden;

}

.slick-list{
  padding:17px;
}

.listVolunteerPrograms{
   direction:rtl;
}
.listVolunteerPrograms ul{
    overflow:hidden;

   
}
.listVolunteerPrograms ul li{
    display: inline-block;
    box-shadow: 0px 0px 8px 0px;
    margin: 21px;
    overflow: hidden;
    height: 200px;
    float: right;
    padding: 10px;
    border-radius: 6px;

}

.listVolunteerPrograms ul li img{

      vertical-align: middle;
    height: 82%;
    width: 100%;
    margin-bottom:10px;
    border-radius:8px;
}

.select_type_subcat{
  display:none;
}
input{
  direction:rtl;
}

/*قالو عنا*/

.rio-promos-about-us{


}

.rio-promos-about-us div p{
      text-align: right;
    line-height: 30px;
    word-spacing: 3px;
    background: #ff4136ab;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}
 

.rio-promos-about-us .item{

    border-radius: 10px;
    overflow: hidden;
 
   
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="number"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  direction:rtl;
}

#contact {
     background: #F9F9F9;
    padding: 25px;
    margin: 120px auto;
    width: 86%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      direction:rtl;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="number"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.Voluntaryprograms,
.cat_{

  background: #e2e2e273;
      padding: 35px 0;
}

.saidAboutus{
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.err_a{
  direction:rtl;
}
.footer{
           background: #89B01B;
    padding: 23px;
    font-size: 14px;
    color: #fff;
    margin-top: 18%;
}

.most-viewed{
  margin-bottom: 290px;
}
.miancont{
  margin-bottom:190px;
}

.aboutsite{
  direction:rtl;
}

.aboutsite p{
      line-height: 62px;
    word-spacing: 1px;
}
@media (min-width: 992px){
  .container {      width: 1100px;}
 
}
@media (max-width: 992px){
   
  .choice a{margin:20px 0}
}




/*neeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeew*/
